body{
    background-color: #FAFAFA;
}

header{
    background-color: #E8F1F5;
}

.navbar{
    background-color: #E8F1F5;
}

#logo{
    width: 250px;
    height: 80px;
}

#BtnRegister, #BtnLogin{
    border-color:#005691 ;
    border-width: 3px;
    font-family: 'Poppins', sans-serif;
    color: #005691;
}

hr{
    border: 2px solid #004A7C;
    margin: 1rem 0;
}

#map{
    margin-top: 60px;
    margin-left: 86px;
    margin-right: 86px;
    width: 1180px;
    height: 600px;
    border: 4px solid #004A7C;
    border-radius: 40px;
}

.function-bar{
    margin-top: 35px;
    margin-bottom: 90px;
}

.function-btn{
    background-color: #005691;
    border: 2px solid #004A7C;
    border-radius: 30px;
}

.btn-content{
    padding: 10px;
}

.function-btn p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}